body{
    background-color: black;
    height: 100vh;
    
}

header {
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.header-btn{
    background-color: rgb(255 255 255 / 33%);
    color: white;
    border: none;
    font-size: small;
    padding: 3px;
    border-radius: 5px;
    line-height: 15px;
    position: relative;
    top: 3px;
    left: -12px;
}

.classroom{
   display: flex;
   justify-content: space-between;
   flex-wrap:wrap;
}

span {
    color: white;
}

.mic-status{
    font-size: small;
    position: relative;
    top: -24px;
    padding: 2px 6px;
    color: white;
    background-color: rgb(255 255 255 / 33%);
}

.user-name{
    font-size: small;
    position: relative;
    left: -4px;
    top: -24px;
    padding: 2px 6px;
    color: white;
    background-color: rgb(255 255 255 / 33%);
}

 .user-box{
    background-color: black;
    width: calc(100%/ 7);
    padding: 2px;
} 

nav{
    background-color: gray;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

